{{> header }}
{{> navCabinet }}

<section class="ls ms section_padding_top_50 section_padding_bottom_50 columns_padding_5">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <h3>{{ title }}</h3>
      </div>
      <!-- .col-* -->
    </div>
    <!-- .row -->

    <div class="row">
      <div class="col-xs-12">
        <div class="with_background with_padding">

          <div class="row admin-table-filters">
            <div class="col-lg-9">

              <form action="./" class="form-inline filters-form">
                <span>
                  <label class="grey" for="with-selected">Отмеченные:</label>
                  <select class="form-control with-selected" name="with-selected" id="with-selected">
                    <option value="">-</option>
                    <option value="open">Опубликовать</option>
                    <option value="close">Закрыть</option>
                    <option value="delete">Удалить</option>
                  </select>
                </span>
                <span>
                  <label class="grey" for="orderby">Сортировать по:</label>
                  <select class="form-control orderby" name="orderby" id="orderby">
                    <option value="date" selected>Дате</option>
                    <option value="title">Названию</option>
                    <option value="author">Автору</option>
                    <option value="status">Статусу</option>
                  </select>
                </span>

                <span>
                  <label class="grey" for="showcount">Показать по:</label>
                  <select class="form-control showcount" name="showcount" id="showcount">
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </span>
              </form>

            </div>
          </div>
          <!-- .row -->

          <hr>

          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <td class="media-middle text-center">
                  <input type="checkbox">
                </td>
                <th>Название:</th>
                <th>Автор:</th>
                <th>Дата события:</th>
                <th>Категория:</th>
                <th>Статус:</th>
              </tr>
              {{#each albums}}
              <tr class="item-editable">
                <td class="media-middle text-center">
                  <input type="checkbox">
                </td>
                <td class="media-middle">
                  <h5>
                    <a href="/my/cabinet/gallery/{{ this.id }}/edit">
                      {{ this.title }}
                    </a>
                  </h5>
                  &lt;<a href="/my/cabinet/gallery/{{ this.id }}/edit">Редактировать</a>&gt; &lt;<a href="/my/cabinet/gallery/{{this.id}}/add">Изменить фото</a>&gt;
                </td>
                <td>
                  <div class="media">
                    <div class="media-body">
                      <h5>
                        <a href="/member/{{ this.author_id }}" target="_blank">{{#if this.author.first_name }}{{this.author.first_name}}{{/if}} {{#if this.author.last_name }}{{this.author.last_name}}{{/if}}</a>
                      </h5>
                    </div>
                  </div>
                </td>
                <td class="media-middle">
                  <time datetime="2017-02-08T20:25:23+00:00" class="entry-date">{{ this.event_date }}</time>
                </td>
                <td class="media-middle">
                  {{lookup ../categories this.category}}
                </td>
                <td class="media-middle">
                  {{#if this.is_active }}
                  Опубликовано
                  {{else}}
                  Не опубликовано
                  {{/if}}
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
          <!-- .table-responsive -->
        </div>
        <!-- .with_background -->
      </div>
      <!-- .col-* -->
    </div>
    <!-- .row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-6">
            <ul class="pagination">
              <li>
                <a href="#">
                  <span class="sr-only">Prev</span>
                  <i class="fa  fa-angle-left"></i>
                </a>
              </li>
              <li class="active">
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">
                  <span class="sr-only">Next</span>
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 text-md-right">
            Showing 1 to 6 of 12 items
          </div>
        </div>
      </div>
    </div>
    <!-- .row main columns -->
  </div>
  <!-- .container -->
</section>

<section class="ls">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        &copy; Copyrights 2017
      </div>
    </div>
  </div>
</section>

</div>
<!-- eof #box_wrapper -->
</div>
<!-- eof #canvas -->

<script src="/js/compressed.js"></script>
<script src="/js/vendor/Chart.bundle.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/admin-charts.js"></script>

</body>

</html>
