{{> header }}
{{> navTop }}

			<section class="page_breadcrumbs cs background_cover section_padding_top_40 section_padding_bottom_40">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h2>{{title}}</h2>
							<ol class="breadcrumb">
								<li>
									<a href="/">Главная</a>
								</li>
								<li class="active">{{title}}</li>
							</ol>
						</div>
					</div>
				</div>
			</section>


<section class="ds section_padding_top_150 section_padding_bottom_120">
    <div class="container">
					<div class="row">

						<div class="col-sm-7 col-md-8 col-lg-8">
                            {{#each posts}}
							<article class="vertical-item content-padding post format-standard with_border">

								<div class="item-media entry-thumbnail">
									<img src="/uploads/blogs/covers/{{this.cover}}" alt="">
									<div class="media-links">
										<a class="abs-link" title="" href="/blogs/{{this.id}}"></a>
									</div>
								</div>

								<div class="item-content entry-content top-zebra-border">
									<header class="entry-header content-justify">
										<h3 class="entry-title">
											<a href="/blogs/{{this.id}}" rel="bookmark">{{this.title}}</a>
										</h3>
										<a href="/members/{{this.author.id}}" class="entry-author">{{this.author.first_name}} {{this.author.last_name}}</a>
									</header>

									<p>{{truncate this.content}}</p>

									<div class="entry-date small-text">
										<time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
											{{this.created_at}}
										</time>
									</div>
								</div>
							</article>
                            {{/each}}

							<div class="row topmargin_40">
								<div class="col-sm-12 text-center">
									<ul class="pagination">
                                        {{#times filters.totalPages}}
                                            <li{{#if (eq ../filters.page this)}} class="active"{{/if}}>
                                                <a {{#if ../filters}}href onclick="event.preventDefault(); var searchParams = new URLSearchParams(window.location.search); searchParams.set('page', '{{this}}'); window.location.search = searchParams.toString();" {{else}}href="?page=2" {{/if}}>{{this}}</a>
                                            </li>
                                        {{/times}}
									</ul>
								</div>
							</div>
						</div>

						<aside class="col-sm-5 col-md-4 col-lg-4" id="filter-blogs">
							<div class="widget widget_mailchimp">

								<h3 class="widget-title text-center">
									<strong>Рассылка</strong>
								</h3>
								<hr class="divider_30_3 zebra_bg">

								<div class="signup form-inline">
									<div class="form-group">
										<input name="email" type="email" class="mailchimp_email form-control" placeholder="Введите Email"{{#if user.email}} value="{{user.email}}"{{/if}}>
									</div>
									<button type="submit" class="theme_button">Отправить</button>
									<div class="response"></div>
								</div>

								<p class="topmargin_10">Подписывайтесь на рассылку, чтобы узнавать о новых статьях в первую очередь!</p>

							</div>

							<div class="widget widget_categories">

								<h3 class="widget-title text-center">
									<strong>Категории</strong>
								</h3>
								<hr class="divider_30_3 zebra_bg">
									<div class="form-group select-group">
										<label for="category" class="sr-only">Категории</label>
										<div class="input-group">
											<select aria-required="true" id="category" class="choice empty form-control">
												<option value="" data-default>Все</option>
												<option value="1"{{#if (eq filters.category 1)}} selected{{/if}}>Обо всём</option>
												<option value="2"{{#if (eq filters.category 2)}} selected{{/if}}>Тест-драйв</option>
												<option value="3"{{#if (eq filters.category 3)}} selected{{/if}}>Обслуживание</option>
												<option value="4"{{#if (eq filters.category 4)}} selected{{/if}}>Путешествия</option>
												<option value="5"{{#if (eq filters.category 5)}} selected{{/if}}>Мероприятия</option>
											</select>
										</div>
									</div>
							</div>

						</aside>
					</div>
				</div>
			</section>

{{> footer }}
