{{> header }}
{{> navTop }}

<section class="page_breadcrumbs cs background_cover section_padding_top_40 section_padding_bottom_40">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2>{{ album.title }}</h2>
				<ol class="breadcrumb">
					<li>
						<a href="/">
							Главная
						</a>
					</li>
					<li>
						<a href="/gallery">
							Фото
						</a>
					</li>
					<li class="active">{{ album.title }}</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="ds page_portfolio section_padding_top_100 section_padding_bottom_0">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20"
					data-filters=".isotope_filters">

					{{#each album.photos}}
					<div class="isotope-item col-lg-6 col-md-6 col-sm-6">
						<div class="vertical-item gallery-item content-absolute text-center ds">
							<div class="item-media">
								<img src="/uploads/gallery/{{../album.id}}/{{this}}" alt="">
								<div class="media-links">
									<div class="links-wrap">
										<a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]"
											href="/uploads/gallery/{{../album.id}}/{{this}}"></a>
										{{!-- <a class="p-link" title="" href="gallery-single.html"></a> --}}
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}

				</div>
				<!-- eof .isotope_container.row -->

			</div>
		</div>
	</div>
</section>

{{> footer }}
