{{> header }}
{{> navCabinet }}

<section class="ls ms section_padding_top_50 section_padding_bottom_50 columns_padding_5">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <h3>{{ title }}</h3>
      </div>
    </div>
    <!-- .row -->

    <form class="form-horizontal" action="#" id="form-ads-add-new">

      <div class="row">
        <div class="col-md-12">
          <div class="with_background with_padding">
            <div class="row form-group">
              <label class="col-lg-3 control-label">Марка:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="brand" id="brand">
                  <option value="0" selected disabled>Выберите марку...</option>
                  {{#each brands}}
                  <option value={{ this.brand }}>{{ this.brand }}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Модель:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="model" id="model">
                  <option value="0" selected disabled>Выберите модель...</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Владелец по документам:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="is_owner" id="isOwner">
                  <option selected disabled>Выберите...</option>
                  <option value="true">Да</option>
                  <option value="false">Нет</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Цвет:</label>
              <div class="col-lg-9">
                <select class="form-control" name="color" id="color">
                  <option selected disabled>Выберите...</option>
                  <option value="1">Белый</option>
                  <option value="2">Чёрный</option>
                  <option value="3">Коричневый</option>
                  <option value="4">Зелёный</option>
                  <option value="5">Фиолетовый</option>
                  <option value="6">Серый / Серебристый</option>
                  <option value="7">Синий / Голубой</option>
                  <option value="8">Жёлтый / Бежевый / Золотистый</option>
                  <option value="9">Красный / Бордовый / Оранжевый / Розовый</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Год выпуска:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <input type="number" class="form-control" name="year" id="year">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Тип кузова:</label>
              <div class="col-lg-9">
                <select class="form-control" name="body_type" id="bodyType">
                  <option selected disabled>Выберите...</option>
                  <option value="1">Седан</option>
                  <option value="2">Хэтчбек 5 дв.</option>
                  <option value="3">Хэтчбек 3 дв.</option>
                  <option value="4">Джип 5 дв.</option>
                  <option value="5">Джип 3 дв.</option>
                  <option value="6">Универсал</option>
                  <option value="7">Минивэн</option>
                  <option value="8">Пикап</option>
                  <option value="9">Купе</option>
                  <option value="10">Кабриолет</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Привод:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="drive" id="drive">
                  <option selected disabled>Выберите...</option>
                  <option value="1">Передний</option>
                  <option value="2">Задний</option>
                  <option value="3">Полный</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Тип двигателя:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="engine_type" id="engineType">
                  <option selected disabled>Выберите...</option>
                  <option value="1">Бензин</option>
                  <option value="2">Дизель</option>
                  <option value="3">Гибрид</option>
                  <option value="4">Электро</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">КПП:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="transmission" id="transmission">
                  <option selected disabled>Выберите...</option>
                  <option value="1">АКПП</option>
                  <option value="2">Вариатор</option>
                  <option value="3">Робот</option>
                  <option value="4">Механика</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Пробег:</label>
              <div class="col-lg-9">
                <input type="number" class="form-control" name="mileage">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Состояние:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="state" id="state">
                  <option selected disabled>Выберите...</option>
                  <option value="1">Не требует ремонт</option>
                  <option value="2">Требует ремонт</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Описание: </label>
              <div class="col-lg-9">
                <textarea rows="5" class="form-control" name="description"></textarea>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label" for="user-profile-avatar">Фотографии</label>
              <div class="col-lg-9">
                <input type="file" name="photos" id="photos">
                <p class="help-block">Выберите до 10 фотографий</p>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Цена:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <input type="number" class="form-control" name="price" id="price">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Регион:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="region" id="region">
                  <option value="0" selected disabled>Выберите регион...</option>
                  {{#each locations}}
                  <option value="{{ this.region }}">{{ this.region }}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            <div class="city row form-group">
              <label class="col-lg-3 control-label">Город:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="city" id="city">
                  <option value="0" selected disabled>Выберите город...</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-3 control-label">Контактные данные:</label>
              <span class="required">*</span>
              <div class="col-lg-9">
                <select class="form-control" name="contact_id" id="contact">
                  <option value="{{ contacts.id }}">{{ contacts.name }} ({{ contacts.phone }})</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12" id="message-box"></div>

            <div class="row">
              <div class="col-sm-12 text-right">
                <input type="hidden" name="type" value="autos">
                <button type="submit" class="theme_button wide_button">Отправить</button>
              </div>
            </div>
            <!-- .row  -->

          </div>
          <!-- .with_background -->

        </div>
        <!-- .col-* -->
      </div>
      <!-- .row  -->
    </form>
  </div>
</section>

<section class="ls">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        &copy; Copyrights 2017
      </div>
    </div>
  </div>
</section>

</div>
<!-- eof #box_wrapper -->
</div>
<!-- eof #canvas -->
<script src="/js/vendor/inputmask.min.js"></script>
<script src="/js/vendor/just-validate.production.min.js"></script>
<script src="/js/vendor/axios.min.js"></script>
<script src="/js/compressed.js"></script>
<script src="/js/vendor/Chart.bundle.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/autoclub.js"></script>
<script src="/js/admin-charts.js"></script>

</body>

</html>
