{{> header }}
{{> navCabinet }}

<section class="ls ms section_padding_top_50 section_padding_bottom_50 columns_padding_5">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12">
        <h3>{{ title }}</h3>
      </div>
    </div>
    <!-- .row -->

    <form class="form-horizontal" action="#" id="form-ads-add-new">

      <div class="row">
        <div class="col-md-12">
          <div class="with_background with_padding">
            <div class="row form-group">
              <label class="col-lg-2 control-label">Название:</label>
              <span class="required">*</span>
              <div class="col-lg-10">
                <input type="text" class="form-control" name="title" id="title">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-2 control-label">Код запчасти:</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" name="part_number">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-2 control-label">Для авто:</label>
              <div class="col-lg-5">
                <select class="form-control" id="brand">
                  <option value="0" selected disabled>Марка...</option>
                  {{#each brands}}
                  <option value={{ this.brand }}>{{ this.brand }}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-lg-5">
                <select class="form-control" id="model">
                  <option value="0" selected disabled>Модель...</option>
                </select>
              </div>
              <div class="col-lg-12" id="cars">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-2 control-label">Описание: </label>
              <div class="col-lg-10">
                <textarea rows="5" class="form-control" name="description" id="description"></textarea>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-2 control-label" for="user-profile-avatar">Фотографии</label>
              <div class="col-lg-10">
                <input type="file" name="photos" id="photos">
                <p class="help-block">Выберите до 10 фотографий</p>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-2 control-label">Цена:</label>
              <span class="required">*</span>
              <div class="col-lg-10">
                <input type="number" class="form-control" name="price" id="price">
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-2 control-label">Регион:</label>
              <span class="required">*</span>
              <div class="col-lg-10">
                <select class="form-control" name="region" id="region">
                  <option value="0" selected disabled>Выберите регион...</option>
                  {{#each locations}}
                  <option value="{{ this.region }}">{{ this.region }}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            <div class="city row form-group">
              <label class="col-lg-2 control-label">Город:</label>
              <span class="required">*</span>
              <div class="col-lg-10">
                <select class="form-control" name="city" id="city">
                  <option value="0" selected disabled>Выберите город...</option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-lg-2 control-label">Контактные данные:</label>
              <span class="required">*</span>
              <div class="col-lg-10">
                <select class="form-control" name="contact_id" id="contact">
                  <option value="{{ contacts.id }}">{{ contacts.name }} ({{ contacts.phone }})</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12" id="message-box"></div>

            <div class="row">
              <div class="col-sm-12 text-right">
                <input type="hidden" name="type" id="type" value="engine">
                <button type="submit" class="theme_button wide_button">Отправить</button>
              </div>
            </div>
            <!-- .row  -->

          </div>
          <!-- .with_background -->

        </div>
        <!-- .col-* -->
      </div>
      <!-- .row  -->
    </form>
  </div>
</section>

<section class="ls">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        &copy; Copyrights 2017
      </div>
    </div>
  </div>
</section>

</div>
<!-- eof #box_wrapper -->
</div>
<!-- eof #canvas -->
<script src="/js/vendor/inputmask.min.js"></script>
<script src="/js/vendor/just-validate.production.min.js"></script>
<script src="/js/vendor/axios.min.js"></script>
<script src="/js/compressed.js"></script>
<script src="/js/vendor/Chart.bundle.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/autoclub.js"></script>
<script src="/js/admin-charts.js"></script>

</body>

</html>
